@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  margin: 0;
  padding: 0;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.panel {
  @apply overflow-hidden;
  transition: max-height 0.3s ease-in-out;
}

.slick-prev, .slick-next {
  background: #333; /* Color de fondo */
  border-radius: 50%; /* Forma redonda */
  color: #ff0000; /* Color del ícono */
  font-size: 24px; /* Tamaño del ícono */
  width: 40px; /* Ancho del botón */
  height: 40px; /* Altura del botón */
  line-height: 40px; /* Altura de la línea */
  text-align: center; /* Centrado del texto */
  cursor: pointer; /* Cursor de puntero */
  z-index: 1; /* Asegúrate de que el botón esté encima del carrusel */
}

.slick-prev {
  left: 10px; /* Posición desde la izquierda */
}

.slick-next {
  right: 10px; /* Posición desde la derecha */
}
